.shop-area {
  background-color: wheat;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  font-size: 25px;
}

.shop-area button {
  transition: all 0.3s ease-in-out;
  border: 0;
}

.shop-area button:hover {
  background-color: white;
  color: black;
}

@media (min-width: 600px) {
  .shop-area {
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
  }

  .shop-area button {
    flex-basis: 0;
    min-width: 250px;
  }
}
